<!DOCTYPE html> <html> <head>
<title>TopProduct</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<!-- 引入 Bootstrap -->
<!--
<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
-->
<link rel="stylesheet" href="{{static_url("css/bootstrap.css")}}">
<link rel="stylesheet" href="{{static_url("css/buttons.css")}}">
<link rel="stylesheet" href="{{static_url("css/index.css")}}">


</head>
<body>
<header class="topbar">
        <div class="header_wrapper">
            <div class="left">
                <div class="logo">
                    <img src="" alt="">
                </div>
                <div class="title">
                    <h1>Top Next</h1>
                </div>
            </div>
            <div class="right">
                <div class="toggle">
                      <a href="" class="button button-highlight button-pill">Day</a>
                      <a href="" class="button button-highlight button-pill">Week</a>
                </div>
            </div>
        </div>
</header>
<div class="container-fluid">
    <div class="row js-masonry" data-masonry-options='{ "columnWidth": 30, "itemSelector": ".col-xs-1" }'>
        {% for post in posts %}
        <div class="col-xs-1">
            <div class="panel">
                <div class="panel_header">
                    <h3 class="panel_title">
                        {{post['date']}} 
                    </h3>
                </div>
                <div class="panel_container">
                <table >
                    <tbody>
                        {% for prod in post['prods'] %}
                        <tr class="prodrow">
                            <td>
                                <div class="vote">
                                    <a class=vote_link href="">
                                        <i class="upvote"></i>
                                        <span class="vote_count">{{prod['vote']}}</span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="prodinfo">
                                    <a class="prodname" href="{{prod['url']}}">{{prod['title']}}</a>
                                    <span class="prodline">{{prod['summary']}}</span>
                                </div>
                            </td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        {% end %}
    </div>
</div>
</body>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="{{static_url("js/bootstrap.min.js")}}"></script>
<script src="{{static_url("js/masonry.pkgd.min.js")}}"></script>
<script src="{{static_url("js/index.js")}}"></script>
</html>
